<div id="article" class="container">
    <ARTICLE class="Starter-template">
        <H3>Contact</H3>
        <form  class="lead" action="/sendmail" methos="post">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Your name">
            <label for="email">E-Mail</label>
            <input type="text" name="email" placeholder="your Email">
            <br>
            <textarea name="message" type="text" placeholder="Enter Message"></textarea><br>
            <input type="submit" value="Send" >
            <br>
        </form>
</div>

