<div id="article" class="container">
    <ARTICLE class="Starter-template">
        
        <P class="lead">
           
            Register Failed. Need all information filled!
        </P>.
</div>