

<div id="article" class="container">
    <ARTICLE class="Starter-template">
        <H3>Spy Vs Spy Multiplayer</H3>
        <P class="lead">

       This is a rework of an 80's game of SpyVsSpy. At the moment game is in very alpha stage,
       and only closed testing is available.
        </P>.
</div>
