<form action="/contact" methos="post">
    <label for="nickname">Nickname</label>
    <input type="text" name="nickname"><br>
    <label for="password">Password</label>
    <input type="password" name="password">
    <br>
    <input type="submit" value="Login">
</form>