<div id="article" class="container">
    <ARTICLE class="Starter-template">
        <H3>Login</H3>
        <P class="lead">
            <form class="lead" action="/loggingin" method="post">
                <label for="nickname">Nickname</label><br>
                <input type="text" name="nickname" placeholder="Nickname"><br>
                <label for="password">Password</label><br>
                <input type="password" name="password" placeholder="Password">
                <br>
                <input type="submit" value="Login"  >
            </form>
      
        </P>.
</div>

